<label for="name">Pet Name:</label>
<input value="<%= pet ? pet.name : '' %>" type="text" id="name" name="name" required /><br /><br />

<label for="species">Species:</label>
<input value="<%= pet ? pet.species : '' %>" type="text" id="species" name="species" /><br /><br />

<label for="gender">Gender:</label>
<select id="gender" name="gender" required>
  <option value="" disabled <%=pet===null ? 'selected' : '' %>>Select gender</option>
  <option value="Female" <%=pet && pet.gender==='Female' ? 'selected' : '' %>>Female</option>
  <option value="Male" <%=pet && pet.gender==='Male' ? 'selected' : '' %>>Male</option>
</select>
<br /><br />

<label for="description">Description:</label>
<input value="<%= pet ? pet.description : '' %>" type="text" id="description" name="description" /><br /><br />

<label for="location">Location:</label>
<input value="<%= pet ? pet.location : '' %>" type="text" id="location" name="location" /><br /><br />

<label for="photo">Photo:</label>
<input value="<%= pet ? pet.photo : '' %>" type="file" id="photo" name="photo" /><br /><br />
